body, html {
    height: 100%;
}

#pages,
#mapActivity,
#mapActivity .row-fluid,
#mapActivity .map-container {
    height: 100%;
}

.map-container.full {
    position:absolute;
    top: 40px;
    left: 0;
    right: 0;
    bottom: 0;
}
