body {
    padding-left: 0;
    padding-right: 0;
}
#map-canvas {
    width: 100%; 
    height: 100%;
}
#map-page {
    padding-left: 0;
    padding-right: 0;
}
.search-form {
    display: inline;
}
.navbar {
    margin-bottom: 1px;
}

@media (max-width: 320px) {
    input.search-query {
        width: 120px;
    }
}

/** leaflet fixes */

/* top left control */
.leaflet-left .leaflet-control {
    margin-left: 0px;
}
.leaflet-top .leaflet-control {
    margin-top: 0px;
}

/* top right control */
.leaflet-right .leaflet-control {
    margin-right: 0px;
}

.leaflet-bottom .leaflet-control-scale {
    margin-bottom: 0px;
}
/* make attribution go under layer selection */
.leaflet-bottom {
    z-index: 900;
}

.css-form input.ng-invalid.ng-dirty {
    background-color: #fdd;
}
    
.css-form input.ng-valid.ng-dirty {
    background-color: #cfc;
}

#map-fullscreen-button-container {
    top: 50px;
    left: 0px;
    position: absolute;
    z-index: 1000;

    box-shadow: 0 0 8px  rgba(0,0,0,0.4);
    border: 1px solid #888;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

a.map-fullscreen-button {
    color: black;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    padding: 4px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    display: block;
}

a.map-fullscreen-button:hover {
    color: black;
    text-decoration: none;
}

#track-button-container {
    top: 0px;
    left: 50px;
    position: absolute;
    z-index: 1000;

    box-shadow: 0 0 8px  rgba(0,0,0,0.4);
    border: 1px solid #888;
    -webkit-border-radius: 5px;
    border-radius: 5px;

    font-size: 110%;
}
#track-button {
    -webkit-border-radius: 4px;
    border-radius: 4px;
    padding: 4px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    display: block;
    background-color: rgba(250, 250, 250, 0.95);
}

#track-button:hover {
    text-decoration: none;
}

a.tracking-active {
    color: red;
    text-decoration:underline;
}

a.tracking-active:hover {
    text-decoration:underline;
}

a.tracking-passive {
    color: gray;
}

/* disable menu transition */
.no-transition {
  -webkit-transition: height 0.001s;
  -moz-transition: height 0.001s;
  -ms-transition: height 0.001s;
  -o-transition: height 0.001s;
  transition: height 0.001s;
}