<div class="navbar" style="margin-bottom: 0px;">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand">RuuviTracker</a>
            <ul class="nav">
                <li class="map">
                    <a href="#">Map</a>
                </li>
                <li class="settings">
                    <a href="#">Settings</a>
                </li>
            </ul>
        </div>
    </div>
</div>

