<div class="container-fluid">
  <div class="row-fluid">
    <a href="http://ruuvitracker.fi/">
      <img src="http://wiki.ruuvitracker.fi/w/images/e/ea/Ruuvitracker_logo2.png"
           alt="RuuviTracker"/></a>
  </div>

  <ul>
    <li><a href="http://ruuvitracker.fi/">ruuvitracker.fi</a></li>
    <li><a href="http://wiki.ruuvitracker.fi/wiki/API">API</a></li>
    <ul>
      <li><a href="http://wiki.ruuvitracker.fi/wiki/Tracker-API">Tracker-API</a></li>
      <li><a href="http://wiki.ruuvitracker.fi/wiki/UI-API">Client-API</a></li>
    </ul>
    <li><a href="http://www.ruuvipenkki.fi/foorumi/viewforum.php?f=17">RuuviTracker
    forum</a></li>
    <li><a href="https://groups.google.com/forum/?fromgroups#!forum/ruuvitracker-dev">RuuviTracker development mailing list</a></li>
    <li><a href="https://twitter.com/#!/RuuviTracker">RuuvTracker@Twitter</a></li>
  </ul>
</div>
