<div id="map-page" class="container-fluid">
  <div class="row-fluid">
    <div id="map-toolbar">
      <button id="locate-me" ng-click="locateMe()" class="btn" title="Center map on my current location">Locate</button>
      <form class="search-form" ng-submit="searchAddress(address)">
        <input type="search" id="location-search" class="search-query"
               size="20" maxlength="100" placeholder="Location search" 
               title="Enter address here and map will show the location." 
               ng-model="address"/>
      </form>
    </div>
    <div id="map-canvas" >
      Map goes here
      <div class="leaflet-control-container">
        <div id="map-fullscreen-container">
          <a ng-click="toggleFullscreen()"
             class="map-fullscreen-button leaflet-bar-part"
             title="Toggle fullscreen"><i class="icon-fullscreen"></i></a>

        </div>
      </div>
    </div>
  </div>
  
