<div class="container" style="margin-top: 18px">
    <div class="row">
        <div class="span4">
            <ul class="submenu nav nav-list">
                <li class="active">
                    <a href="#settings-general">General</a>
                </li>
                <li>
                    <a href="#settings-trackers">Trackers</a>
                </li>
            </ul>
        </div>
        <div class="span8 settings-panel" id="settings-general">
            <form class="form-horizontal" id="settings-general-form">
                <legend>Server</legend>
                <div class="control-group">
                    <label class="control-label" for="input01" >URL</label>
                    <div class="controls">
                        <input type="text" class="input-xlarge" value="{{apiUrl}}" id="apiUrl" name="apiUrl" />
                        <p class="help-block">Url of the server</p>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="input01" >Username</label>
                    <div class="controls">
                        <input type="text" class="input-xlarge" value="{{username}}" id="username" name="username" />
                    </div>
                <div class="control-group">
                </div>
                    <label class="control-label" for="input01" >Password</label>
                    <div class="controls">
                        <input type="password" class="input-xlarge" value="" id="password" name="password" />
                    </div>
                </div>
                <div class="form-actions">
                    <button type="submit" class="btn btn-primary">Save</button>
                    <button type="submit" class="btn">Cancel</button>
                </div>
            </form>
        </div>

        <div class="span8 settings-panel" id="settings-trackers" style="display: none;">
            <legend>Trackers</legend>
            <ul class="trackers nav nav-tabs nav-stacked">
            {{#each allTrackers}}
                <li data-id="{{id}}" 
                {{#if isActive }}
                class="active"
                {{/if}}
                >
                    <a href="#">{{this.name}}</a>
                </li>
            {{/each}}
            </ul>
        </div>
    </div>
</div>

